# https://embarkstudios.github.io/cargo-deny/checks/advisories/cfg.html
[advisories]
vulnerability = "deny"
unmaintained = "deny"
unsound = "deny"
yanked = "deny"
notice = "deny"
git-fetch-with-cli = true
ignore = [
]

# https://embarkstudios.github.io/cargo-deny/checks/bans/cfg.html
[bans]
multiple-versions = "warn"
wildcards = "deny"
allow-wildcard-paths = true
build.executables = "deny"
build.interpreted = "deny"
build.include-dependencies = true
build.include-workspace = false # covered by tools/tidy.sh
build.include-archives = true
build.allow-build-scripts = [
    { name = "anyhow" },
    { name = "camino" },
    { name = "fs-err" },
    { name = "libc" },
    { name = "proc-macro2" },
    { name = "rustix" }, # via tar
    { name = "serde_json" },
    { name = "serde" },
    { name = "syn" }, # 1.0, via ruzstd
    { name = "winapi-i686-pc-windows-gnu" },
    { name = "winapi-x86_64-pc-windows-gnu" },
    { name = "winapi" },
    { name = "windows_aarch64_gnullvm" },
    { name = "windows_aarch64_msvc" },
    { name = "windows_i686_gnu" },
    { name = "windows_i686_msvc" },
    { name = "windows_x86_64_gnu" },
    { name = "windows_x86_64_gnullvm" },
    { name = "windows_x86_64_msvc" },
]
build.bypass = [
    # Import libraries are necessary because raw-dylib (requires 1.71+ for x86, 1.65+ for others) is not available on MSRV of them.
    { name = "winapi-i686-pc-windows-gnu", allow-globs = ["lib/*.a"] },
    { name = "winapi-x86_64-pc-windows-gnu", allow-globs = ["lib/*.a"] },
    { name = "windows_aarch64_gnullvm", allow-globs = ["lib/*.a"] },
    { name = "windows_aarch64_msvc", allow-globs = ["lib/*.lib"] },
    { name = "windows_i686_gnu", allow-globs = ["lib/*.a"] },
    { name = "windows_i686_msvc", allow-globs = ["lib/*.lib"] },
    { name = "windows_x86_64_gnu", allow-globs = ["lib/*.a"] },
    { name = "windows_x86_64_gnullvm", allow-globs = ["lib/*.a"] },
    { name = "windows_x86_64_msvc", allow-globs = ["lib/*.lib"] },
]

# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
version = 2
unused-allowed-license = "deny"
private.ignore = true
allow = [
    "Apache-2.0",
    "MIT",
    "Unicode-DFS-2016", # unicode-ident
]

# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = [
]
