# https://embarkstudios.github.io/cargo-deny/checks/advisories/cfg.html
[advisories]
yanked = "deny"
git-fetch-with-cli = true
ignore = [
]

# https://embarkstudios.github.io/cargo-deny/checks/bans/cfg.html
[bans]
multiple-versions = "warn"
wildcards = "deny"
allow-wildcard-paths = true
build.executables = "deny"
build.interpreted = "deny"
build.include-dependencies = true
build.include-workspace = false # covered by tools/tidy.sh
build.include-archives = true
build.allow-build-scripts = [
    { name = "anyhow" },
    { name = "camino" },
    { name = "fs-err" },
    { name = "libc" },
    { name = "proc-macro2" }, # via serde_derive
    { name = "quote" }, # via serde_derive
    { name = "rustix" }, # via tar
    { name = "serde_json" },
    { name = "serde_core" },
    { name = "serde" }, # https://github.com/serde-rs/serde/issues/2972
    { name = "windows_aarch64_gnullvm" },
    { name = "windows_aarch64_msvc" },
    { name = "windows_i686_gnu" },
    { name = "windows_i686_gnullvm" },
    { name = "windows_i686_msvc" },
    { name = "windows_x86_64_gnu" },
    { name = "windows_x86_64_gnullvm" },
    { name = "windows_x86_64_msvc" },
]
build.bypass = [
    { name = "libc", allow-globs = ["cherry-pick-stable.sh"] },
    { name = "autocfg", allow-globs = ["tests/wrap_ignored"] }, # via fs-err
    # Import libraries are necessary because raw-dylib (requires 1.71+ for x86, 1.65+ for others) is not available on MSRV of them.
    { name = "windows_aarch64_gnullvm", allow-globs = ["lib/*.a"] },
    { name = "windows_aarch64_msvc", allow-globs = ["lib/*.lib"] },
    { name = "windows_i686_gnu", allow-globs = ["lib/*.a"] },
    { name = "windows_i686_gnullvm", allow-globs = ["lib/*.a"] },
    { name = "windows_i686_msvc", allow-globs = ["lib/*.lib"] },
    { name = "windows_x86_64_gnu", allow-globs = ["lib/*.a"] },
    { name = "windows_x86_64_gnullvm", allow-globs = ["lib/*.a"] },
    { name = "windows_x86_64_msvc", allow-globs = ["lib/*.lib"] },
]

# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
unused-allowed-license = "deny"
private.ignore = true
allow = [
    "Apache-2.0",
    "MIT",
    "Unicode-3.0", # unicode-ident
]

# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = [
]
