# https://embarkstudios.github.io/cargo-deny/checks/advisories/cfg.html
[advisories]
vulnerability = "deny"
unmaintained = "deny"
unsound = "deny"
yanked = "deny"
notice = "deny"
git-fetch-with-cli = true
ignore = [
]

# https://embarkstudios.github.io/cargo-deny/checks/bans/cfg.html
[bans]
multiple-versions = "warn"
wildcards = "allow" # https://github.com/EmbarkStudios/cargo-deny/issues/488
build.allow-build-scripts = [
    { name = "anyhow" },
    { name = "camino" },
    { name = "libc" },
    { name = "proc-macro2" },
    { name = "rustix" }, # via is-terminal
    { name = "semver" }, # via cargo_metadata
    { name = "serde_json" },
    { name = "serde" },
    { name = "thiserror" }, # via cargo_metadata
    { name = "winapi-i686-pc-windows-gnu" },
    { name = "winapi-x86_64-pc-windows-gnu" },
    { name = "winapi" },
    { name = "windows_aarch64_gnullvm" },
    { name = "windows_aarch64_msvc" },
    { name = "windows_i686_gnu" },
    { name = "windows_i686_msvc" },
    { name = "windows_x86_64_gnu" },
    { name = "windows_x86_64_gnullvm" },
    { name = "windows_x86_64_msvc" },
]

# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
default = "deny"
unlicensed = "deny"
copyleft = "deny"
unused-allowed-license = "deny"
private.ignore = true
allow = [
    "Apache-2.0",
    "MIT",
    "Unicode-DFS-2016", # unicode-ident
]

# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = []
