target
# There is binary in the workspace, but intentionally not committing lockfile.
# See https://github.com/taiki-e/cargo-llvm-cov/pull/152#issuecomment-1107055622 for more.
Cargo.lock

# For platform and editor specific settings, it is recommended to add to
# a global .gitignore file.
# Refs: https://docs.github.com/en/github/using-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer
