[package]
name = "cargo-llvm-cov"
version = "0.1.12"
edition = "2018"
rust-version = "1.54"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/taiki-e/cargo-llvm-cov"
keywords = ["cargo", "coverage", "subcommand", "testing"]
categories = ["command-line-utilities", "development-tools", "development-tools::cargo-plugins", "development-tools::testing"]
exclude = ["/.*", "/tools"]
description = """
Cargo subcommand to easily use LLVM source-based code coverage (-Z instrument-coverage).
"""

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[workspace]
resolver = "2"

[dependencies]
anyhow = "1.0.34"
atty = "0.2.11"
camino = "1.0.3"
cargo_metadata = "0.14"
clap = { version = "=3.0.0-rc.4", features = ["derive"] }
duct = "0.13.1"
fs-err = "2.5"
glob = "0.3"
home = "0.5"
is_executable = "1"
opener = "0.5"
regex = { version = "1.3", default-features = false, features = ["perf", "std"] }
rustc-demangle = "0.1.21"
serde = { version = "1.0.103", features = ["derive"] }
serde_json = "1"
shell-escape = "0.1.5"
termcolor = "1.1.2"
walkdir = "2"

[dev-dependencies]
easy-ext = "1"
itertools = "0.10"
once_cell = "1"
rand = "0.8"
tempfile = "3"
