name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10
  CARGO_LLVM_COV_DENY_WARNINGS: 1

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  miri:
    uses: taiki-e/github-actions/.github/workflows/miri.yml@main
  msrv:
    uses: taiki-e/github-actions/.github/workflows/msrv.yml@main
  release-dry-run:
    uses: taiki-e/github-actions/.github/workflows/release-dry-run.yml@main
  tidy:
    uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit
    with:
      check-external-types: false
      docs: false

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - rust: '1.87'
          - rust: stable
          - rust: beta
          - rust: nightly
          - rust: nightly
            os: macos-latest
          - rust: nightly
            os: windows-latest
          - rust: nightly-i686-pc-windows-msvc
            os: windows-latest
          - rust: nightly
            os: windows-latest
            target: x86_64-pc-windows-gnullvm
          - rust: nightly
            os: windows-11-arm
            target: aarch64-pc-windows-gnullvm
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ matrix.rust }}
      - uses: taiki-e/install-action@cargo-hack
      - uses: taiki-e/install-action@cargo-minimal-versions
      - uses: taiki-e/install-action@nextest
      - uses: taiki-e/setup-cross-toolchain-action@main
        with:
          target: ${{ matrix.target }}
        if: matrix.target != ''
      - run: cargo test --workspace --all-features
      # TODO: move this test to tests/test.rs
      - run: cargo install --path . --debug
      - name: Test cargo llvm-cov nextest
        run: |
          unset RUSTFLAGS
          target="${{ matrix.target }}"
          if [[ -z "${target}" ]]; then
            target=$(rustc -vV | grep -E '^host:' | cut -d' ' -f2)
          fi
          cargo llvm-cov nextest --text --fail-under-lines 50
          cargo llvm-cov nextest --text --fail-under-lines 50 --profile default --cargo-profile dev
          cargo llvm-cov nextest --text --fail-under-lines 50 --profile ci
          cargo llvm-cov nextest --text --fail-under-lines 50 --profile ci --cargo-profile dev
          cargo clean
          cd -- ../real1
          cargo llvm-cov nextest-archive --archive-file a.tar.zst
          cargo llvm-cov nextest --archive-file a.tar.zst --text --fail-under-lines 70
          cargo llvm-cov report --nextest-archive-file a.tar.zst --fail-under-lines 70
          cargo clean
          rm -- a.tar.zst
          cargo llvm-cov nextest-archive --archive-file a.tar.zst --release
          cargo llvm-cov nextest --archive-file a.tar.zst --text --fail-under-lines 70
          cargo llvm-cov report --nextest-archive-file a.tar.zst --fail-under-lines 70
          cargo clean
          rm -- a.tar.zst
          cargo llvm-cov nextest-archive --archive-file a.tar.zst --cargo-profile custom
          cargo llvm-cov nextest --archive-file a.tar.zst --text --fail-under-lines 70
          cargo llvm-cov report --nextest-archive-file a.tar.zst --fail-under-lines 70
          cargo clean
          rm -- a.tar.zst
          cargo llvm-cov nextest-archive --archive-file a.tar.zst --target "${target}"
          cargo llvm-cov nextest --archive-file a.tar.zst --text --fail-under-lines 70
          cargo llvm-cov report --nextest-archive-file a.tar.zst --fail-under-lines 70
          cargo clean
          rm -- a.tar.zst
          cd -- ../build_dir
          cargo llvm-cov nextest --text --fail-under-lines 100
          cargo llvm-cov nextest --text --fail-under-lines 100 --profile default --cargo-profile dev
          cargo llvm-cov nextest --text --fail-under-lines 100 --profile ci
          cargo llvm-cov nextest --text --fail-under-lines 100 --profile ci --cargo-profile dev
          cargo clean
        working-directory: tests/fixtures/crates/bin_crate
      - name: Test nightly-specific options, old Cargo compatibility
        run: |
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          unset RUSTFLAGS
          target="${{ matrix.target }}"
          if [[ -z "${target}" ]]; then
            target=$(rustc -vV | grep -E '^host:' | cut -d' ' -f2)
          fi

          # Test nightly-specific options
          retry git clone --depth 1 https://github.com/taiki-e/easytime.git
          pushd -- easytime >/dev/null
          cargo llvm-cov test --doctests --text --fail-under-lines 30
          popd >/dev/null
          pushd -- tests/fixtures/crates/cargo_config >/dev/null
          # TODO: --fail-under-branches?
          cargo llvm-cov test --branch --text --fail-under-lines 80
          # TODO: Unstable MC/DC support has been removed in https://github.com/rust-lang/rust/pull/144999
          # cargo llvm-cov test --mcdc --text --fail-under-lines 80
          popd >/dev/null
          pushd -- easytime >/dev/null
          cargo llvm-cov test --branch --doctests --text --fail-under-lines 30
          # TODO: Unstable MC/DC support has been removed in https://github.com/rust-lang/rust/pull/144999
          # cargo llvm-cov test --mcdc --doctests --text --fail-under-lines 30
          popd >/dev/null

          # Test minimum runnable Cargo version.
          case "${{ matrix.target }}" in
            *-windows-gnullvm) ;; # target unavailable on Rust 1.60.
            *)
              retry rustup toolchain add 1.60 --no-self-update
              pushd -- easytime >/dev/null
              cargo +1.60 llvm-cov test --fail-under-lines 30
              popd >/dev/null
              ;;
          esac
        if: startsWith(matrix.rust, 'nightly')
      - name: Test --dep-coverage
        run: |
          cargo llvm-cov --bins --dep-coverage=regex --fail-under-lines 2 -- regex_vec
          cargo llvm-cov --bins --dep-coverage=regex-syntax --fail-under-lines 20 -- regex_vec
          cargo llvm-cov --bins --dep-coverage=regex --fail-under-lines 2 -- regex_vec
          cargo llvm-cov --bins --dep-coverage=regex,regex-syntax --fail-under-lines 20 -- regex_vec
      - run: cargo hack build --workspace --no-private --feature-powerset --no-dev-deps
      - run: cargo minimal-versions build --workspace --no-private --detach-path-deps=skip-exact --all-features
        # TODO(windows-gnullvm): winapi 0.3.5 (dep of old version of termcolor)
        if: matrix.target != 'aarch64-pc-windows-gnullvm'
      - name: Test show-env --sh on bash
        run: |
          bash --version
          if [[ "${{ matrix.os }}" == "macos"* ]]; then
            # macOS's /bin/bash is too old.
            cargo llvm-cov show-env --sh > env.sh
            # shellcheck disable=SC1091
            . ./env.sh
          else
            # shellcheck disable=SC1090
            source <(cargo llvm-cov show-env --sh)
          fi
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        working-directory: tests/fixtures/crates/bin_crate
      - name: Test show-env --sh on sh
        run: |
          set -eux
          cargo llvm-cov show-env --sh > env.sh
          # shellcheck disable=SC1091
          . ./env.sh
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: sh
        working-directory: tests/fixtures/crates/bin_crate
        if: startsWith(matrix.os, 'ubuntu') || matrix.os == '' || startsWith(matrix.os, 'macos')
      - name: Test show-env --pwsh on pwsh
        run: |
          pwsh --version
          Invoke-Expression (cargo llvm-cov show-env --pwsh | Out-String)
          env
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: pwsh
        working-directory: tests/fixtures/crates/bin_crate
      # TODO: --pwsh currently supports PowerShell 6+
      # - name: Test show-env --pwsh on powershell
      #   run: |
      #     $PSVersionTable.PSVersion
      #     $PSDefaultParameterValues['*:Encoding'] = 'utf8'
      #     Invoke-Expression (cargo llvm-cov show-env --pwsh | Out-String)
      #     env
      #     cargo llvm-cov clean --workspace
      #     cargo build
      #     cargo run -- 1
      #     cargo llvm-cov report --fail-under-lines 50
      #     cargo llvm-cov clean --workspace
      #     cargo build
      #     cargo run -- 2
      #     cargo llvm-cov report --fail-under-lines 50
      #   shell: powershell
      #   working-directory: tests/fixtures/crates/bin_crate
      #   if: startsWith(matrix.os, 'windows')
      - name: Test show-env --cmd
        run: |
          cargo llvm-cov show-env --cmd > env.bat
          call env.bat
          env
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: cmd
        working-directory: tests/fixtures/crates/bin_crate
        if: startsWith(matrix.os, 'windows')
      - name: Install other shells (Ubuntu)
        run: |
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          retry sudo apt-get -o Acquire::Retries=10 -qq update
          retry sudo apt-get -o Acquire::Retries=10 -o Dpkg::Use-Pty=0 install -y --no-install-recommends csh fish tcsh zsh
        if: startsWith(matrix.os, 'ubuntu') || matrix.os == ''
      - name: Install other shells (macOS)
        run: |
          brew install fish tcsh
        if: startsWith(matrix.os, 'macos')
      - name: Install other shells (Windows)
        run: |
          C:/msys64/usr/bin/pacman -S --noconfirm fish tcsh zsh
          printf '%s\n' 'C:\msys64\usr\bin' >>"${GITHUB_PATH}"
        # TODO: C:/msys64/usr/bin/pacman: No such file or directory
        if: startsWith(matrix.os, 'windows') && matrix.os != 'windows-11-arm'
      - name: Test show-env --sh on zsh
        run: |
          set -eux
          zsh --version
          source <(cargo llvm-cov show-env --sh)
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: zsh {0}
        working-directory: tests/fixtures/crates/bin_crate
        if: matrix.os != 'windows-11-arm'
      - name: Test show-env --csh on csh
        run: |
          cargo llvm-cov show-env --csh > env.csh
          cat -- env.csh
          source ./env.csh
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: bsd-csh {0}
        working-directory: tests/fixtures/crates/bin_crate
        if: startsWith(matrix.os, 'ubuntu') || matrix.os == ''
      - name: Test show-env --csh on tcsh
        run: |
          tcsh --version
          cargo llvm-cov show-env --csh > env.csh
          cat -- env.csh
          source ./env.csh
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: tcsh {0}
        working-directory: tests/fixtures/crates/bin_crate
        if: matrix.os != 'windows-11-arm'
      - name: Test show-env --fish
        run: |
          cargo llvm-cov show-env --sh > env.fish
          cat -- env.fish
          source env.fish
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 1
          cargo llvm-cov report --fail-under-lines 50
          cargo llvm-cov clean --workspace
          cargo build
          cargo run -- 2
          cargo llvm-cov report --fail-under-lines 50
        shell: fish {0}
        working-directory: tests/fixtures/crates/bin_crate
        if: matrix.os != 'windows-11-arm'

  test-nextest:
    strategy:
      fail-fast: false
      matrix:
        include:
          - rust: nightly
          - rust: nightly
            os: windows-latest
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: ${{ matrix.rust }}
      - uses: taiki-e/install-action@nextest
      - run: cargo install --path . --debug
      - name: Test nextest
        run: |
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          retry git clone --depth 1 https://github.com/nextest-rs/nextest.git
          pushd -- nextest >/dev/null
          # https://github.com/nextest-rs/nextest/blob/174cf9f7a4334b56cb94e31a6962f656ae01a513/.github/workflows/coverage.yml
          cargo llvm-cov --no-report nextest
          cargo llvm-cov --no-report --doc
          cargo llvm-cov report --doctests --lcov --output-path lcov.info
          popd >/dev/null

  test-llvm:
    strategy:
      fail-fast: false
      matrix:
        # See also LLVM version table in https://github.com/taiki-e/portable-atomic/blob/HEAD/.github/workflows/ci.yml.
        include:
          - llvm: '14'
            os: ubuntu-22.04
          - llvm: '15'
            os: ubuntu-22.04
          - llvm: '16'
          - llvm: '17'
          - llvm: '18'
          - llvm: '19'
          - llvm: '20'
          - llvm: '21'
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/install-rust@stable
      - name: Install LLVM
        run: |
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          if type -P clang-"${{ matrix.llvm }}" &>/dev/null; then
            exit 0
          fi
          codename=$(grep -E '^VERSION_CODENAME=' /etc/os-release | cut -d= -f2)
          sudo mkdir -pm755 -- /etc/apt/keyrings
          retry curl --proto '=https' --tlsv1.2 -fsSL --retry 10 --retry-connrefused https://apt.llvm.org/llvm-snapshot.gpg.key \
            | sudo gpg --dearmor -o /etc/apt/keyrings/llvm-snapshot.gpg >/dev/null
          sudo tee -- "/etc/apt/sources.list.d/llvm-toolchain-${codename}-${{ matrix.llvm }}.list" >/dev/null \
            <<<"deb [signed-by=/etc/apt/keyrings/llvm-snapshot.gpg] http://apt.llvm.org/${codename}/ llvm-toolchain-${codename}-${{ matrix.llvm }} main"
          retry sudo apt-get -o Acquire::Retries=10 -qq update
          apt_packages=(
            clang-"${{ matrix.llvm }}"
            libc++-"${{ matrix.llvm }}"-dev
            libc++abi-"${{ matrix.llvm }}"-dev
            libclang-"${{ matrix.llvm }}"-dev
            lld-"${{ matrix.llvm }}"
            llvm-"${{ matrix.llvm }}"
            llvm-"${{ matrix.llvm }}"-dev
          )
          if ! sudo apt-get -o Acquire::Retries=10 -o Dpkg::Use-Pty=0 install -y --no-install-recommends "${apt_packages[@]}"; then
            retry sudo apt-get -o Acquire::Retries=10 -o Dpkg::Use-Pty=0 upgrade -y
            retry sudo apt-get -o Acquire::Retries=10 -o Dpkg::Use-Pty=0 install -y --no-install-recommends "${apt_packages[@]}"
          fi
      - run: cargo install --path . --debug
      - name: Test
        run: |
          retry() {
            for i in {1..10}; do
              if "$@"; then
                return 0
              else
                sleep "${i}"
              fi
            done
            "$@"
          }
          export CC="clang-${{ matrix.llvm }}"
          export CXX="clang++-${{ matrix.llvm }}"
          export LLVM_COV="llvm-cov-${{ matrix.llvm }}"
          export LLVM_PROFDATA="llvm-profdata-${{ matrix.llvm }}"
          case "${{ matrix.llvm }}" in
            1[4-7])
              retry rustup toolchain add 1.60 1.65 1.70 1.73 1.77 --no-self-update
              cargo clean
              cargo +1.60 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +1.65 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +1.70 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +1.73 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +1.77 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              ;;
            18)
              retry rustup toolchain add 1.78 1.81 --no-self-update
              cargo clean
              cargo +1.78 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +1.81 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              ;;
            *)
              retry rustup toolchain add 1.82 beta nightly --no-self-update
              cargo clean
              cargo +1.82 llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +beta llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              cargo clean
              cargo +nightly llvm-cov test --text --include-ffi --fail-under-lines 70 -vv
              ;;
          esac
        working-directory: tests/fixtures/crates/ffi
